---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Typst Live Editor</title>
    </head>
    <body class="bg-background text-foreground">
        <h1>Typst Live</h1>
    </body>
</html>
